//Polices
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;400;600&family=Patrick+Hand&display=swap');
//font-family: 'Kodchasan', sans-serif;
//font-family: 'Patrick Hand', cursive;

//variables
$orange : #d35e35;
$darkBlue : #3d4251;
$blue : #666f88;
$lightBlue : #cacbd5;

//mixins
@mixin fonts ($fontSize, $weigth) {
    font-family: 'Kodchasan', sans-serif;
    font-size: $fontSize;
    font-weight: $weigth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-image: url(./images/didlydoo-app-fondécran-petit.webp);
    background-size: contain;
}
//mise en page du header
.header {
    &__images {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 35%;
    }
    &__menu {
        width: 8%;
        height: 8%;
        margin-right: 5%;
    }
    &__title {
        font-family: 'Patrick Hand', cursive;
        font-size: 7vw;
        color: $darkBlue;
        text-align: end;
        margin: 15% 5% 0% 0%;
        height: 7vh;
        line-height: 0vh;
        text-shadow: 0.45vw 0.45vw 0px white, 
        0.9vw 0.9vw 0px #cacbd5, 
        1.35vw 1.35vw 0px #d35e35, 
        1.8vw 1.8vw 0px #666f88,;
    }
}

//mise en page du main
main {
    .addEvent {
        display: flex;
        display: none;
    }
}

#event__wrapper {
    display: flex;
    flex-direction: column;

    .event__card {
        margin: 7%;
        border-radius: 7vw;
        background-color: $lightBlue;
        //border-left: 1.5vw solid;
        //border-image: linear-gradient(to bottom, $lightBlue, $darkBlue) 0 1;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-color: $darkBlue;
            width: 1vw;
            height: 80%;
            top: 10%;
            left: 0%;
            border-radius: 1vw;
        }
        &__divHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__image {
            background-image: url(./images/didlydoo-app-réseau.webp);
            width: 10vw;
            height: 10vw;
            background-size: cover;
            margin: 5%;
        }
        &__name {
            @include fonts(5.5vw, 600);
            color : $darkBlue;
            padding-right: 10%;
        }
        &__divAuthorDate {
            display: flex;
            justify-content: space-around;
            @include fonts(4.5vw, 400);
            margin-bottom: 3%;
        }
        &__author {
            margin-left: 5%;
        }
        &__description {
            margin: 0% 10% 5% 10%;
            text-align: center;
            @include fonts(4.5vw, 400);
            color: $blue;
        }
        &__title4 {
            text-align: center;
            @include fonts(4.5vw, 300);
            color: $lightBlue;
            background-color: $darkBlue;
            margin-left: 30%;
            margin-bottom: 7vw;
            padding: 5% 2%;
            width: 30vw;
            border-radius: 5vw;
        }
        &__divAttendees {
            //display: none;
            background-color: white;
            width: 90%;
            margin-left: 5%;
            border-radius: 5vw;
            padding: 2vw;
        }
        &__array {
            display: flex;
            justify-content: center;
            text-align: center;
            border-bottom: 0.5vw solid $orange;
            margin-top: 1vw;
            align-items: center;
        }
        &__date {
            @include fonts(4vw, 400);
            width: 32vw;
            border-right: 0.5vw solid $orange;
        }
        &__listAttendees{
            margin-left: 5vw;
            margin-bottom: 2vw;
            width: 32vw;
            @include fonts(4vw, 400);
        }
        &__button {
            display: flex;
            justify-content: end;
            &--addDates {
                background-image: url(./images/didlydoo-app-ajouter.webp);
                background-size: cover;
                width: 8vw;
                height: 8vw;
                border-style: none;
                background-color: white;
                margin: 1vw;
            }
            &--edit {
                background-image: url(./images/didlydoo-app-édition.webp);
                background-size: cover;
                width: 10vw;
                height: 10vw;
                border-style: none;
                background-color: $lightBlue;
                margin: 5% 0% 5% 0%;
            }
            &--delete {
                @extend .event__card__button--edit;
                background-image: url(./images/didlydoo-app-supprimer.webp);
                margin-right: 5%;
            }
        }
        &__available {
            &--menu {
                display: flex;
                flex-wrap: wrap;
                width: 50%;
                background-color: $darkBlue;
            }
            &--label {
                color: $lightBlue;
            }
        }
    }

}
// footer
footer{
    background-color: $lightBlue;


    .termsPrivacy
    {
    text-align: center;
    margin-top: 2em;
    @include fonts (1.5vw, 600);

        a{
        text-decoration: none;
        color: black;
        }
    }
    .p__footer
    {
        margin: 1.5em;
        text-align: center;
        @include fonts(3.5vw, 300);
    }
    .members
    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

        a
        {
        text-decoration: none;
        color: black;
        @include fonts(1.5VW,600)
        }
    }
}



@media screen and (min-width:1024px){
    .event__card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 25%;
        justify-content: center;
        align-items: center;

        h4{
           margin-right: 30%;
        }

        &__name {
            @include fonts(2vw, 600);
            color : $darkBlue;
            padding-right: 10%;
        }
    }
    #event__wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    
}